<link rel="stylesheet" href="/css/estilo.css">

<body>
    <div class="container ">
        <div class="row">
            <i>
                <h1 class="text-light d-flex justify-content-center display-1 col-sm">
                    Marque o seu Ponto
                </h1>
            </i>
        </div>
        <div class="p">
            <div class="row">
                <div class="col-sm d-flex justify-content-center">
                    <i>
                        <h1 id="data" class="mb-5 text-light"></h1>
                    </i>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm d-flex justify-content-center">
                    <i>
                        <h1 id="hora" class="text-light display-1"></h1>
                    </i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <button id="botao" class="btn btn-primary v btn-lg" onclick="addBanco()">Marcar</button>
            </div>
        </div>
    </div>

    <script src="/js/relogioPonto.js"></script>
    <script>
        if (localStorage.logado == "0") {
            window.location.href = "http://192.168.15.80:5000/";
        }
    </script>
    <script>
        function dateNow() {
            let da = new Date().toLocaleString();
            return da
        }

        function addBanco() {

            //const user = document.getElementById('usuario').value

            const url = `http://192.168.15.80:7000/${localStorage.getItem("nome")}`;

            const dados = {
                ponto: this.dateNow()
            }

            $.ajax({
                type: "POST",
                url: url,
                data: dados
            });

            alert('Ponto Marcado com Sucesso!!!')
        }
    </script>
</body>